<!doctype html>
<html  ng-app="fileManager">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Index</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- bower:css -->
  <!-- endbower -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- include: "type": "less", "files": "public/styles/**/*.less" -->
</head>
<body>

<h1>Start App</h1>

<div ui-view></div>

<!-- include: "type": "js", "files": "public/scripts/**/*.js" -->

</body>
</html>