<table class="table table-condensed">
  <thead>
  <tr>
    <th>Actions</th>
  </tr>
  </thead>
</table>

<div class="col-sm-11 col-sm-offset-1" ng-show="selectedFile">
  <div class="row action-link" ng-click="downloadFile()">
    <span class="glyphicon glyphicon-circle-arrow-down"></span> <span>Download</span>
  </div>
  <div class="row action-link" ng-click="navigateToPreview()">
    <span class="glyphicon glyphicon-eye-open"></span> <span>Preview</span>
  </div>
  <div class="row action-link" ng-click="saveToBookmarks()">
    <span class="glyphicon glyphicon-bookmark"></span> <span>Bookmark</span>
  </div>
  <div class="row action-link" ng-click="navigateToEdit()">
    <span class="glyphicon glyphicon-pencil"></span> <span>Edit</span>
  </div>
  <div class="row selected-file-name">
    <label>File selected: </label> {{selectedFile.name}}
  </div>
</div>

<div class="col-sm-11 col-sm-offset-1" ng-show="!selectedFile">
  <div class="row">
    <label>Select file at the left side by clicking on it</label>
  </div>
</div>

