<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <input type="text" ng-model="search.filter" placeholder="search file">
    </div>
  </div>
  <div class="row" click-outside="clearSelection()">
    <div class="col-lg-8 main-table main-table-header">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th class="col-file-name" ng-click="orderByName = !orderByName">File Name
            <span class="glyphicon glyphicon-sort"></span>
            </th>
          <th class="col-file-type">File Type</th>
          <th class="col-file-size">Size(kb)</th>
        </tr>
        </thead>
      </table>
      <div class="main-table main-table-body table-responsive">
        <table class="table table-condensed">
          <tbody class="files-list">
          <tr ng-repeat="file in files | filter: { name : search.filter } | orderBy:'name':orderByName"
              ng-click="selectItem(file)" ng-class="{'active': file.selected}">
            <th class="col-file-name">{{ file.name }}</th>
            <td class="col-file-type">{{ fileTypes[file.extension] }}</td>
            <td class="col-file-size">{{ file.size }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-4 main-table-actions" ng-if="needActions">
      <actions></actions>
    </div>
  </div>
  <action-buttons></action-buttons>
</div>