
.btn-left {
  margin-right: 5px;
}

.btn-action {
  width: 45%;
}

.main-table {
  padding-right: 0px;
}

.main-table-actions {
  padding-left: 0px;
}

.file-selected {
  border-color: #204d74;
  background-color: #265a88;
}